// Required
@import "../node_modules/bootstrap/scss/functions";

// Default variable overrides
$success: rgb(168, 161, 161);
$toast-border-color: white;
$toast-background-color:#ffc107;
$toast-color: black;
$carousel-caption-width:             70%;
$carousel-caption-padding-y:         1.25rem;
$carousel-caption-spacer:            1.25rem;

// Required
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/buttons";

// Bootstrap variable overrides
.btn-outline-success {
    color: $success;
    border-color: $success;
}

.container-fluid  {
    padding-right: 0;
    padding-left: 0;
}

.toast {
    width: $toast-max-width;
    max-width: 100%;
    @include font-size($toast-font-size);
    color: $toast-color;
    pointer-events: auto;
    background-color: $toast-background-color;
    background-clip: padding-box;
    border: $toast-border-width solid $toast-border-color;
    box-shadow: $toast-box-shadow;
    @include border-radius($toast-border-radius);
  
    &:not(.showing):not(.show) {
      opacity: 0;
    }
  
    &.hide {
      display: none;
    }
}


// Optional Bootstrap components here
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/utilities";


//New
$facebook: #405D9D;
$facebook-hv: #314879;
$twitter: #42AEEC;
$twitter-hv: #1799e4;
$black-green: rgba(0, 120, 48, 1);
$light-green: rgba(71, 223, 132, 1);

.btn-facebook {
    background: $facebook;
    border: none;
}

.btn-facebook:hover, .btn-facebook:focus {
    background: $facebook-hv;
}

.btn-twitter {
    background: $twitter;
    border: none;
}

.btn-twitter:hover, .btn-twitter:focus {
    background: $twitter-hv;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
}

.vertical-center-70 {
    max-height: 70%;
    max-height: 70vh;

    display: flex;
    align-items: center;
}

.row {
    text-align: -webkit-center;
}

.bg-gradient-green {
    background: $black-green;
    background: linear-gradient(90deg, $black-green 0%, $light-green 100%);
}